.container-card{
    width: 100%;
    position: relative;
    text-align: left;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    color: black;
    max-width: 1420px;
}

.container-card .card{
    position: relative;
    display: inline-block;   
    max-width: 20%;
    width: 100%;
    min-width: 270px;
    background-color: white;
    border-radius:  18px;
    padding: 18px;
    margin: 2% 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imgframe {
    height: 18pc;
    width: inherit;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 2%;
}


.imgframe img{
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.caption{
    width: 80%;
    display: inline-block;
    position:relative;
    font-weight: 800;
    font-size: 20px;
    font-family: Avenir;
    text-wrap: wrap;
}

.nationality{
    width: 18%;
    display: inline-block;
    position: relative;
    color: grey;
    font-size: 13px;
    text-align: right;
}

.gradyear{
    color: grey;
    font-size: 13px;
    margin-bottom: 8%;
}


.container-card .attribute{
    height: 35px;
    margin-left: 12%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
}

.container-card .attribute .attribute-icon{
    width: 18px;
    height: 18px;
    background-size: cover;
    vertical-align: middle;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    left: -15%;
}

.container-card .attribute .attribute-text{
    position: absolute;
    width: inherit;
    top: 2px;
    line-height: normal;
}


.container-card .button-holder{
    float: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container-card .button{
    text-align: center;
    border: solid;
    padding: 5px 28px;
    border-radius: 20px;
    background-color: #00B1D2;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}

.container-card .button:hover{
    background-color: black;
}

  @media (max-width: 1400px) {
    .container-card .card{
        max-width: 27%;
    }

  }

  @media (max-width: 990px) {
    .container-card .card{
        max-width: 40%;
        margin: 2% 2.5%;
    }
  }

  @media (max-width: 540px){
    .container-card{
        text-align: center;
    }

    .container-card .card{
        margin: 2% 0%;
    }
  }

