#intro-container {
    max-width: 1380px;
    text-align: left;
    margin: 20px auto;
    margin-top: 50px;
    font-weight: 400;
  }

  @media (max-width: 600px) {
    #intro-container {
      font-size: 2.5rem;
    }
  }

  .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

  }