#intro-container {
    display: flex;
    padding: 3%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Georgia;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.03125rem;
    margin-left: 1.75rem;
    text-align: left;
  }

  @media (max-width: 600px) {
    #intro-container {
      padding: 2%;
      font-size: 1.875rem;
    }
  }

