.emptySpace{
    padding-bottom: 3%;
}

.main{
    background-color: white;
    text-align: left;
    padding-bottom: 100%;
}

.profile{
    max-width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}

.profileOverview{
    padding-bottom: 5%;
}
.profileOverview .title{
    color: #00239C;
    font-weight: bold;   
    font-size: 20px;
    border-bottom:1px solid #00B1D2;
    padding-bottom:1px;
}

.description{
    max-width: 50%;
    display: inline-block;
    position:relative;
    text-wrap: left;
}

.topics{
    width: 30%;
    display: inline-block;
    position: relative;
    float: right;
}

.reviews{
    padding-bottom: 5%;
}

.reviews .title{
    color: #00239C;
    font-weight: bold;   
    font-size: 20px;
    border-bottom:1px solid #00B1D2;
    padding-bottom:1px;
}
