nav {
    position: fixed;
    /* position: sticky; */
    width: 100%;
    background-color: white;
    z-index: 1001;
}

nav .nav-container a{
    color: #777;
}

nav .nav-container{
    position: relative;
    height: 70px;
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    border:solid;
}

nav .nav-container .item{
    display: inline-block;
    position: relative;
    color: black;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #777;
    font-size: 18px;
    font-weight: 500;
}

.nav-container .item.logo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 155px;
    height: 70px;
    margin-right: 8%;
}

.nav-container .item.login{
    margin-left: 5%;
    margin-right: 20px;
    cursor: pointer;
}

.nav-container .item.login .icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 26.631px;
    position: absolute;
    left: -30px;
}

nav .nav-container .item.tablist{
    width: 70%;
    text-align: center;
}

nav .nav-container .item.tablist .tab{
    position: relative;
    display:inline-block;
    margin-left: 8%;
    margin-right: 8%;
}

nav .nav-container .item.tablist .tab:hover{
    text-decoration: underline;
}

.menu .option{
    display: none;
}


@media screen and (max-width: 660px) {

    nav .nav-container .item.tablist{
        display: none;
    }

    .nav-container .item.login{
        display: none;
    }


    nav .nav-container .item{
        display: inline-block;
        position: relative;
        color: black;
        color: #777;
        font-size: 18px;
        font-weight: 500; 
        width: 40%;
        text-align: left;
    }

    .nav-container .item-v2{
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
    }

    .nav-container .item-v2 .burger{
        cursor: pointer;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
        top: -15px;
        right: 10px;
    }

    .menu{
        position: fixed;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: white;
        color: black;
        width: 100%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        border-radius: 20px;
        text-align: center; 
        padding: 20px 0px;
        height: 18%;
        transition: linear 0.2s;
        opacity: 1;
        color: black;
    }

    .menu.close{
        height: 0%;
        padding:0px;
        transition: linear 0.2s;
        opacity: 0;
    }

    .menu.close .option{
        display: none;
        height: 30%;
        transition: linear 0.2s;
        opacity: 0;
    }

    .menu a{
        color: #777;
    }

    .menu .option{
        display: block;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 40px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: solid lightgray;
    }
}