#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.App {
  width: 100vw; /* Equivalent to w-screen */
  height: 100vh; /* Equivalent to h-screen */
  background: linear-gradient(180deg, #00B1D2 0%, rgba(0, 35, 156, 0.80) 118.22%);
  overflow-x: auto;
  overflow-y: auto;
}
